body {
	padding-top: 50px;
}

.clickable {
	cursor: pointer;
}

.loading-overlay, .progress-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
}

.loading-overlay .loading-spinner, .progress-overlay .progress-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.loading-overlay .loading-spinner * {
	display: block;
	margin: auto;
}

.row-marginless {
	margin: 0;
}

.navbar-header {
	white-space: nowrap;
}

.navbar-tools-container {
	padding-top: 8px;
	text-align: right;
	height: 50px;
}

.navbar-tools-container li:not(.divider) {
	display: inline;
	list-style: none;
}

i.nav-dropdown-icon {
	width: 1.2em;
}

/* enable absolute positioning */
.inner-addon { 
	position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px 25px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.nav-btn {
	color: #fff;
	font-size: 120%;
	padding: 7px 12px;
}

.nav-btn:hover {
	color: #ccc;
	text-decoration: none;
}

.nav-btn.active {
	color: #337ab7;
}

.main-container {
	padding: 0;
	overflow-x: hidden;
}

.jawla-toolbar-container {
	padding: 20px;
}

table.table-jawla {
	white-space: nowrap;
}

table.table-jawla tr {
	cursor: pointer;
}

table.table-jawla tr:hover td {
	background-color: #ebebeb;
}

.table.table-jawla td {
		max-width: 100px;
}
.table.table-jawla td small {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 100%;
}

.btn-sharp {
	border-radius: 0;
}

.page-title {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

ul.visit-history {
	list-style: none;
	text-align: center;
	padding: 0.7em 0;
}

textarea.form-control {
	height: 100%;
}

.confirmbutton-popover {
	min-width: 200px;
}

.accordion-sneak {
	padding: 3px;
	max-width: 100px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

select.multi-token-select {
	display: block;
	clear: both;
	background-color: #5cb85c;
	width: 5em;
	padding: 1px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	margin-top: 0.3em;
}

span.label-token {
	margin: 0 3px 6px 0;
	float: left;
	font-size: 100%;
}

span.label-token span.glyphicon-remove {
	padding: 3px;
}

.fit-text {
	width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.tool-icon {
	font-size: 150%;
	opacity: 0.5;
	margin: 25px;
}

.form-horizontal {
	padding-top: 2em;
}

.login-btn {
	display: block;
	margin: 3em auto;
}

@media (min-width: 600px) {
	body {
		max-width: 600px;
		margin: 0 auto;
		box-shadow: 12px 0 15px -15px rgba(128, 128, 128, 0.7), -12px 0 15px -15px rgba(128, 128, 128, 0.7);
	}

	.navbar-fixed-top {
		max-width: 600px;
		margin: 0 auto;
	}
}
