body {
  padding-top: 50px;
}

.navbar-nav {
  margin-right: 0.3em; 
}

.navbar-brand-container {
  width: 35%;
  white-space: nowrap;
}

.navbar-tools-container {
  width: 65%;
}

.nav-btn {
  color: #fff;
  font-size: 120%;
  margin-top: 7px;
}

.main-container {
  padding: 0;
}

.jawla-toolbar-container {
  padding: 20px;
}

table.table-jawla tr {
  cursor: pointer;
}

table.table-jawla tr:hover td {
  background-color: #ebebeb;
}

.btn-sharp {
  border-radius: 0;
}