<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Filters</h3>
</div>
<div class="modal-body" id="modal-body">

	<div ng-if="view.userCountries.length">
		<label>Countries</label>
		<multi-token choices="view.userCountries" selected="view.state.ui.filters.countries" display-property="name" id-property="code"></multi-token>
	</div>

	<hr ng-if="view.userCountries.length && view.userLanguages.length" />

	<div ng-if="view.userLanguages.length">
		<label>Languages</label>
		<multi-token choices="view.userLanguages" selected="view.state.ui.filters.languages" display-property="name" id-property="code"></multi-token>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-info btn-sm" type="button" ng-click="clearFilters()" ng-show="view.state.ui.filters.isFiltered">Clear All</button>
	<button class="btn btn-primary btn-sm" type="button" ng-click="apply()">Apply</button>
</div>