<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-brand-container pull-left">
            <a class="navbar-brand" ng-href="/#/{{ view.state.ui.sheetId }}">Jawla Tracker</a>
        </div>
        <div class="navbar-header navbar-tools-container pull-right">
            <div class="nav navbar-nav pull-left">
                <div class="col-xs-8">
                    <input type="text" class="form-control search-input" placeholder="Search" ng-model="view.searchTerm"
                        ng-model-options="{ debounce: 500 }" ng-change="search()">
                </div>
                <div class="col-xs-2">
                    <a ng-click="switchDisplayMode()">
                        <span class="glyphicon glyphicon-map-marker nav-btn" ng-show="view.state.ui.displayMode == 'list'"></span>
                        <span class="glyphicon glyphicon-list nav-btn" ng-show="view.state.ui.displayMode == 'map'"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a ng-if="view.state.ui.isSignedIn" ng-click="logout()" class="glyphicon glyphicon-log-out nav-btn"></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="main-container">
    <div ng-if="view.state.ui.isSignedIn == false">
        <button class="btn btn-primary btn-block btn-lg btn-sharp" ng-click="login()">
            Login with Google
        </button>
    </div>

    <div ng-if="view.state.ui.isSignedIn">
        <div class="jawla-table-container" ng-if="view.state.ui.displayMode == 'list'">
            <table class="table table-striped table-jawla">
                <tr ng-repeat="personId in view.state.people.ids track by personId"
                    ng-if="!view.state.people.list[personId].isFiltered" ng-click="goToPerson(personId)">
                    <td>
                        <div class="row">
                            <div class="col-xs-6">
                                {{ view.state.people.list[personId].firstName }} {{ view.state.people.list[personId].lastName }}
                            </div>
                            <div class="col-xs-6 text-muted" ng-if="view.state.people.list[personId].visitHistory.length">
                                <small>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    Last visit: 
                                    {{ view.state.people.list[personId].visitHistory[0] | date:shortDate }}
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-muted">
                                <small>
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    {{ view.state.people.list[personId].address }}
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="jawla-map-container" ng-if="view.state.ui.displayMode == 'map'">
            <div id="map" class="col-sm-12" style="height: calc(100vh - 55px);"></div>
        </div>
    </div>
</div>
<!-- /.main-container -->
