<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-brand-container pull-left">
            <a class="navbar-brand" ng-click="view.state.ui.displayMode = 'list'"
            ng-bind="view.state.ui.sheet.title" ng-style="{'font-size' : 50/view.state.ui.sheet.title.length + 'vmin'}"></a>
        </div>
        <div class="navbar-header navbar-tools-container pull-right text-right" ng-if="view.state.ui.isSignedIn">
            <div class="col-xs-12 inner-addon right-addon" ng-show="view.navMode === 'search'">
                <input type="text" class="form-control search-input" placeholder="Search" ng-model="view.state.ui.filters.searchTerm"
                    ng-model-options="{ debounce: 500 }" ng-change="search()" show-focus="view.navMode === 'search'">
                <i ng-click="clearSearch()" class="glyphicon glyphicon-remove clickable"></i>
            </div>
            <div class="col-xs-12" ng-hide="view.navMode">
                <a ng-click="openFilters()" class="glyphicon glyphicon-filter nav-btn"
                    ng-class="{ 'active': view.state.ui.filters.isFiltered }"></a>
                <a ng-click="view.navMode = 'search';" class="glyphicon glyphicon-search nav-btn"></a>
                <a ng-click="switchDisplayMode()" class="nav-btn">
                    <span class="glyphicon glyphicon-map-marker" ng-show="view.state.ui.displayMode == 'list'"></span>
                    <span class="glyphicon glyphicon-list" ng-show="view.state.ui.displayMode == 'map'"></span>
                </a>
                <a class="glyphicon glyphicon-log-out nav-btn" confirm-button="logout()"
                    message="Are you sure you want to logout?" position="bottom"></a>
            </div>
        </div>
    </div>
</nav>

<div class="main-container">
    <div ng-if="view.state.ui.isSignedIn == false">
        <button class="btn btn-primary btn-block btn-lg btn-sharp" ng-click="login()">
            Login with Google
        </button>
    </div>

    <div ng-if="view.state.ui.isSignedIn">
        <div class="jawla-table-container" ng-if="view.state.ui.displayMode == 'list'">
            <table class="table table-striped table-jawla">
                <tr ng-click="goToPerson(personId)"
                ng-repeat="personId in filteredPeople = (view.state.people.ids | peopleFilter:view.state.people.list) track by personId">
                    <td>
                        <div class="row">
                            <div class="col-xs-6">
                                {{ view.state.people.list[personId].firstName }} {{ view.state.people.list[personId].lastName }}
                                <img src="/images/blank.gif" alt="{{ view.state.people.list[personId].country.name }}"
                                ng-if="view.state.people.list[personId].country" class="flag flag-{{ view.state.people.list[personId].country.code.toLowerCase() }}" />
                            </div>
                            <div class="col-xs-6 text-muted" ng-if="view.state.people.list[personId].visitHistory.length">
                                <small>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    Last visit: 
                                    {{ view.state.people.list[personId].visitHistory[0].date | date:shortDate }}
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-muted">
                                <small>
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    {{ view.state.people.list[personId].address }}
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-hide="filteredPeople.length">
                    <td>No Results</td>
                </tr>
            </table>
        </div>

        <div class="jawla-map-container" ng-if="view.state.ui.displayMode == 'map'">
            <div id="map" class="col-sm-12" style="height: calc(100vh - 55px);"></div>
            <div class="progress-overlay" ng-if="view.mapProgress && view.mapProgress.completed < view.mapProgress.total">
                <div class="progress-container col-xs-offset-1 col-xs-10 text-center">
                    <strong>Populating map data</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                        ng-style="{'width': (100 * view.mapProgress.completed / view.mapProgress.total) + '%'}">
                            {{ view.mapProgress.completed }} / {{ view.mapProgress.total }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.main-container -->
