<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" ng-href="/#/">Missing Sheet ID</a>
        </div>
    </div>
</nav>

<div class="main-container">

    <div class="col-sm-12">
        <h3>Jawla Tracker</h3>
        <p>
            Is an application that helps maintain the list of addresses being visited and keep track of notes and
            feedback collected during those visits<br />
            This is a shell web application that solely uses Google Sheets to store information and to
            authenticate.. Please refer to the <a href="https://jawlatracker.obadakadri.com/privacy.html">Privacy
                Policy</a> for more information.
        </p>
    </div>

</div>