<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">
        <div class="navbar-header col-xs-6 pull-left">
            <a class="navbar-brand" ng-href="/#/">Missing Sheet ID</a>
        </div>
        <div class="navbar-header navbar-tools-container col-xs-6">
            <li>
                <a class="nav-btn clickable" ng-href="/#/show/help">
                    <i class="fa fa-life-ring nav-dropdown-icon"></i> Help
                </a>
            </li>
        </div>
    </div>
</nav>

<div class="main-container">

    <div class="col-sm-12">
        <h3>Jawla Tracker</h3>
        <p>
            Is an application that helps maintain the list of addresses being visited and keep track of notes and
            feedback collected during those visits<br />
            This is a shell web application that solely uses Google Sheets to store information and to
            authenticate.. Please refer to the <a href="https://jawlatracker.obadakadri.com/privacy.html">Privacy
                Policy</a> for more information.
        </p>
        <p>
            If you need help creating a new list, please refer to the <a href="/#/0/help">help page</a>.
        </p>
    </div>

</div>