<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Merge Updated Sheet</h3>
</div>
<div class="modal-body" id="modal-body">

	<div ng-show="view.state.ui.mergeStep == 0">
		<p>
			If you have an updated list of addresses that needs to be merged into the current list, start by creating a new sheet using
			the same
			<a href="https://docs.google.com/spreadsheets/d/1n8wdE3bu25I7i8QPuulZmG7uq1HE5xmSfNhXcjw8eLo/edit?usp=sharing" target="_blank">template spread sheet</a>,
			then copy the new sheet id into the box below.
		</p>

		<p>
			When you hit <strong>next</strong>, the next screen will show the entries that will be updated and those that will be
			added. you can then uncheck the ones that you don't want to be updated or added.
		</p>

		<input type="text" class="form-control" ng-model="view.newSheetId" ng-change="validateSheetId()" placeholder="Updated Sheet ID"
		 autofocus />
		<small class="text-danger pull-right" ng-bind="view.error"></small>
	</div>

	<div ng-show="view.state.ui.mergeStep == 1">
		Show diff vew here
	</div>

</div>
<div class="modal-footer">
	<!-- Cancel -->
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()" ng-hide="view.state.ui.mergeStep == 2">Cancel</button>
	<!-- Action -->
	<button class="btn btn-primary btn-sm" type="button" ng-click="next()" ng-disabled="view.idInvalid" ng-show="view.state.ui.mergeStep == 0">Next</button>
	<button class="btn btn-primary btn-sm" type="button" ng-click="next()" ng-show="view.state.ui.mergeStep == 1">Perform Merge</button>
	<button class="btn btn-primary btn-sm" type="button" ng-click="next()" ng-show="view.state.ui.mergeStep == 2">Done</button>
	</button>
</div>