<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="row">
		<div class="navbar-header col-xs-6 pull-left">
			<a class="navbar-brand" href="/#/">Jawla Tracker Privacy Policy</a>
		</div>
		<div class="navbar-header navbar-tools-container col-xs-6">
			<li>
				<a class="nav-btn clickable" ng-href="/#/show/help">
					<i class="fa fa-life-ring nav-dropdown-icon"></i> Help
				</a>
			</li>
		</div>
	</div>
</nav>

<div class="main-container">

	<div class="col-sm-12">
		<p>&nbsp;</p>
		<h3>We don't store your data, period.</h3>
		<ul>
			<li>Google auhentication is required to access the Jawla list from your account and display it in the app. No data
				is transmitted to any other database</li>
			<li>Jawla Tracker will only use access to read, write, modify, or control Google Sheets to provide a door-knocking
				web client that allows users to manage and keep track of contacts and previous visits and will not transfer this
				Sheets data to others.</li>
			<li>The App will not use the Google account and data for serving advertisements</li>
			<li>The App will not allow humans to read this data unless we have your affirmative agreement for specific
				messages, doing so is necessary for security purposes such as investigating abuse, to comply with applicable
				law, or for the App's internal operations and even then only when the data have been aggregated and anonymized.
			</li>
			<li>Google Analytics is enabled for the only purpose of monitoring the traffic on the app</li>
		</ul>


	</div>

</div>